[Desktop Entry]
Version=1.0
Type=Link
Name=todo.csv
Comment=
Icon=user-bookmarks
URL=https://github.com/foyaz66/Terminal-Based-To-Do-List/blob/main/todo.csv
