[Desktop Entry]
Version=1.0
Type=Link
Name=todo_manager.sh
Comment=
Icon=user-bookmarks
URL=https://github.com/a5adujjaman/Terminal-Based-To-Do-List/blob/main/todo_manager.sh
